body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 40px;
  background-color: #1f1f1f;
  position: fixed;
  width: 100%;
 
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #8000ff;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  color: #ccc;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #2f00ff;
}

.join-btn {
  background-color: #8800ff;
  color: white;
  padding: 10px 22px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
}

.join-btn:hover {
  background-color: #0f00e6;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0e0e0e;
  color: #ffffff;
}

footer {
  background-color: #1a1a1a;
  padding: 40px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-section p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}

.footer-section h3 {
  color: #fcfbf8;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.social-icons i {
  color: rgb(98, 245, 250);
  font-size: 24px;
}


.contact-info i {
  
  color: #6996c9;
  font-size: 24px;
  padding-left: 24px;

}

.footer-bottom {
  border-top: 1px solid #222;
  text-align: left;
  margin-top: 30px;
  color: #a7a3a3;
  font-size: 14px;
}



.contact-info {
  border-top: 1px solid #222;
  display: flex;
  justify-content: space-around;
}

.contact-info i {
  font-size: 40px;

}

.contact-info p {
  margin: 0px;
  padding: 0px;
}

.email {
  display: flex;
}
 
/* hero */
.hero{
  text-align:center;
  color:#8000ff;
    background-image: url(./media/background.png);
  background-size: cover ;
  background-position: center;
background-repeat: no-repeat;
height: 100vh;

}
.hero-info{
  padding-top: 220px;
}
.hero p{
  text-align:center;
  color:#ffffff;
}

.hero-button1{
  background-color: #8b39de;
  color:#ffffff;
  padding:9px 5px;
  border-radius: 7px;
  border: 1px solid rgb(0, 0, 0);

}

.hero-button2{
  background-color: #000000;
  color:#ffffff;
 padding:9px 5px;
 border-radius: 7px;
  border: 1px solid rgb(139, 0, 170);

}

/* tournaments */
.title{
  text-align: center;
  color: #6b51fc;
}

.paragraph{
  text-align: center;
  color: #ffffff;
}
.Tournaments-cards{
  display: flex;
  align-items: center;
  justify-content: space-around;
   gap: 24px;
   margin: 0 32px;
}
 .card{
  background-color: #1f1f27;
  border-radius:12px ;
  width: 100%;
 }
 .img-card img{
  height:200px;
  width:100% ;
 }

 .second-tournaments{
  color: #6d02f0;
 }

 .info-card{
  padding: 12px;
 }

 .date ,.numbers-teams {
  display: flex;
  gap: 8px;
 }
 
 .tournaments-button{
  background-color: #6b51fc;
  color: #f2f1f1;
  padding:5px 5px ;
  border-radius: 8px;
   border: 1px solid#6b51fc;
  margin:1px 1px;  
 font-style: italic;
  font-size: 24px;
  width:100%;
 
 }

.arena-join{
  height: 200px;
  border:1px solid #6b51fc;
  background-color: #09012b;
  width: 750px;
  justify-content:center ;
 margin: 70px;
}
.button-arena{
 
  height: 2OOpx;
   border:1px solid #0c55ff;
  
  width:300px;
  margin: 1px 1px ;
  font-size: 24px;
  padding: 5px 5px;
color: #ffffff;
   background-color: #8f7fe4;
   border-radius:12px ;
  
   
}

.icon{
  display:flex;
  justify-content:center ;
  color: #5286ff;
  font-size: 24px;
  border: #8e95a6;
  margin: 10px;
  
  
}
/* contact */
.contact {
  max-width: 500px;
  margin: 0 auto;
  background: #120736;
  padding: 20px;
  
}

.contact label {
  display: block;
  margin-bottom: 5px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.contact input[type="submit"] {
  padding: 10px 15px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact input[type="submit"]:hover {
  background: #555;
}